@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#header1-e H1 {
  color: #ffffff;
}
#msg-box4-g .mbr-header__text {
  color: #ffffff;
  text-align: left;
}
#msg-box4-g .mbr-header__subtext {
  color: #faaf40;
  text-align: left;
}
#msg-box4-g .mbr-article {
  color: #ffffff;
}
#msg-box4-2b .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2b .mbr-article {
  color: #ffffff;
}
#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #e25041;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #df402f;
}
#dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#msg-box3-b .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #777777;
}
#msg-box3-x .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-size: 32px;
}
#msg-box3-x .mbr-header .mbr-header__subtext {
  text-align: center;
}
#pricing-table1-9 SPAN {
  font-size: 60px;
}
#msg-box3-y .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-y .mbr-article P {
  color: #ffffff;
  text-align: center;
}
#msg-box3-y .mbr-article DIV {
  color: #ffffff;
  text-align: center;
}
#msg-box3-y .mbr-article {
  color: #ffffff;
  text-align: center;
}
#content5-17 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
  font-size: 32px;
}
#content5-17 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #000000;
}
#content5-17 .mbr-article {
  color: #fff;
}
#content5-17 .mbr-article P {
  color: #000000;
}
#contacts2-3 UL {
  color: #efefef;
}
#contacts2-3 P {
  color: #cccccc;
}

#dropdown-menu-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-n .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-n .nav .link,
#dropdown-menu-n .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-n .navbar,
#dropdown-menu-n .dropdown-menu {
  background: #e25041;
}
#dropdown-menu-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-n .dropdown-menu a:hover,
#dropdown-menu-n .dropdown-menu a:focus {
  background: #df402f;
}
#dropdown-menu-n .navbar-toggler {
  color: #ffffff;
}
#contacts2-o UL {
  color: #efefef;
}
#contacts2-o P {
  color: #cccccc;
}

#dropdown-menu-18 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-18 .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-18 .nav .link,
#dropdown-menu-18 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-18 .navbar,
#dropdown-menu-18 .dropdown-menu {
  background: #e25041;
}
#dropdown-menu-18 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-18 .dropdown-menu a:hover,
#dropdown-menu-18 .dropdown-menu a:focus {
  background: #df402f;
}
#dropdown-menu-18 .navbar-toggler {
  color: #ffffff;
}
#msg-box3-1e .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-size: 32px;
}
#msg-box3-1e .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #ffffff;
}
#contacts2-19 UL {
  color: #efefef;
}
#contacts2-19 P {
  color: #cccccc;
}

#dropdown-menu-16 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-16 .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-16 .nav .link,
#dropdown-menu-16 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-16 .navbar,
#dropdown-menu-16 .dropdown-menu {
  background: #e25041;
}
#dropdown-menu-16 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-16 .dropdown-menu a:hover,
#dropdown-menu-16 .dropdown-menu a:focus {
  background: #df402f;
}
#dropdown-menu-16 .navbar-toggler {
  color: #ffffff;
}
#header3-18 H3 {
  text-align: center;
}
#contacts2-17 UL {
  color: #efefef;
}
#contacts2-17 P {
  color: #cccccc;
}

#dropdown-menu-16 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-16 .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-16 .nav .link,
#dropdown-menu-16 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-16 .navbar,
#dropdown-menu-16 .dropdown-menu {
  background: #e25041;
}
#dropdown-menu-16 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-16 .dropdown-menu a:hover,
#dropdown-menu-16 .dropdown-menu a:focus {
  background: #df402f;
}
#dropdown-menu-16 .navbar-toggler {
  color: #ffffff;
}
#header3-1n P {
  text-align: center;
}
#header3-1n H3 {
  text-align: center;
}
#contacts2-17 UL {
  color: #efefef;
}
#contacts2-17 P {
  color: #cccccc;
}

#dropdown-menu-16 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-16 .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-16 .nav .link,
#dropdown-menu-16 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-16 .navbar,
#dropdown-menu-16 .dropdown-menu {
  background: #e25041;
}
#dropdown-menu-16 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-16 .dropdown-menu a:hover,
#dropdown-menu-16 .dropdown-menu a:focus {
  background: #df402f;
}
#dropdown-menu-16 .navbar-toggler {
  color: #ffffff;
}
#msg-box3-19 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-19 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#form1-18 .mbr-header__text {
  text-align: center;
}
#form1-18 .form-control-label {
  color: #232323;
}
#contacts2-17 UL {
  color: #efefef;
}
#contacts2-17 P {
  color: #cccccc;
}

#dropdown-menu-1a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1a .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1a .nav .link,
#dropdown-menu-1a .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1a .navbar,
#dropdown-menu-1a .dropdown-menu {
  background: #e25041;
}
#dropdown-menu-1a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1a .dropdown-menu a:hover,
#dropdown-menu-1a .dropdown-menu a:focus {
  background: #df402f;
}
#dropdown-menu-1a .navbar-toggler {
  color: #ffffff;
}
#msg-box3-1c .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1c .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1c .mbr-article P {
  color: #000000;
}
#contacts2-1b UL {
  color: #efefef;
}
#contacts2-1b P {
  color: #cccccc;
}

#dropdown-menu-1s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1s .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1s .nav .link,
#dropdown-menu-1s .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1s .navbar,
#dropdown-menu-1s .dropdown-menu {
  background: #e25041;
}
#dropdown-menu-1s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1s .dropdown-menu a:hover,
#dropdown-menu-1s .dropdown-menu a:focus {
  background: #df402f;
}
#dropdown-menu-1s .navbar-toggler {
  color: #ffffff;
}
#msg-box3-2e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box5-29 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-29 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-29 .mbr-article {
  color: #ffffff;
}
#msg-box5-28 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-28 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-28 .mbr-article {
  color: #ffffff;
}
#msg-box3-27 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-27 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-25 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-25 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-25 .mbr-article {
  color: #fff;
}
#features1-23 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#header3-21 H3 {
  text-align: center;
}
#header3-21 P {
  text-align: center;
}
#msg-box4-20 .mbr-header__text {
  color: #000000;
}
#msg-box4-20 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-20 .mbr-article {
  color: #ffffff;
}
#msg-box4-20 .mbr-article P {
  color: #000000;
}
#msg-box4-1y .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1y .mbr-article {
  color: #ffffff;
}
#msg-box4-1u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1u .mbr-article {
  color: #ffffff;
}
#contacts2-1t UL {
  color: #efefef;
}
#contacts2-1t P {
  color: #cccccc;
}
